.dashboardGrid {
  display: grid;
  width: 100%;           /* Fills the parent container */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "location location"
    "location location"
    "tools tools"
    "favorite contact"
    "scratch scratch";
}
.dashboardGrid > li {
  min-width: 0; /* Allow grid items to shrink */
}
@media (min-width: 700px) {
  .dashboardGrid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "location location location location scratch scratch favorite favorite"
      "location location location location tools tools contact contact";
  }
}
